/* globals.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0E78F9] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

.support-text {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.fixed-alert {
  top: 90px;
  z-index: 999;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .head-text {
    @apply sm:text-3xl text-xl font-semibold sm:leading-snug;
  }
  .textarea {
    @apply w-full py-3 px-6 bg-dark-3 border border-dark-2 rounded-lg focus:outline-none block p-4  text-sm text-dark-3  focus:ring-blue-1 focus:border-blue-1 mt-2.5 font-normal shadow-card;
  }

  .textarea::placeholder {
    color: #ecf0ff;
  }

  .textarea-text {
    color: #ffffff;
  }

  .input {
    @apply w-full py-4 px-6 bg-dark-3 border border-dark-2 rounded-full focus:outline-none  text-dark-3 text-sm  focus:ring-blue-1 focus:border-blue-1 block  p-2.5 mt-2.5 font-normal shadow-card;
  }

  .input::placeholder {
    color: #ecf0ff;
  }

  .input-text {
    color: #ffffff;
  }
}
/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

.text-shadow-soft {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
